<!DOCTYPE html>
<html lang="en">

<head>
    <title>Seasons in Bariloche</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="./style.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light bg-dark navbar navbar-dark ">
            <a class="navbar-brand" href="#">Inicio</a>
            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Quienes somos </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ayuda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
            </ul>
        </nav>
        <div class="cover d-flex justify-content-center align-items-center flex-column">
            <h1>
                Bariloche-Patagonia Argentina
            </h1>
            <p>
                <button class="btn btn-danger
                         ">
                    Descubre
                </button>
                Tu lugar en el mundo
            </p>
        </div>
    </header>
    <section>
        <div class="container mt-5 mb-5">
            <div class="row justify-content-start">
                <div class="col-12 col-sm-6 mt-2">
                    <div class="card">
                        <img src="https://cdn.glitch.com/84964c4a-9d94-430f-b896-28dc1b38ed59%2Frsz_federico-persiani-ssg2iisn6a8-unsplash.jpg?v=1587468585762"
                            class="card-img card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Invierno</h5>
                            <p class="card-text">
                                Te invitamos a desubirir el invierno en la Patagonia.
                            </p>
                            <a href="#" class="btn btn-primary">Entrar</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 mt-2">
                    <div class="card" >
                        <img src="https://cdn.glitch.com/84964c4a-9d94-430f-b896-28dc1b38ed59%2Frsz_romina-farias-zoavih2eexq-unsplash.jpg?v=1587469221368"
                            class=" card-img card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Primavera</h5>
                            <p class="card-text">
                                Te invitamos a desubirir la primavera en la Patagonia.
                            </p>
                            <a href="#" class="btn btn-primary">Entrar</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 mt-2">
                    <div class="card" >
                        <img src="https://cdn.glitch.com/84964c4a-9d94-430f-b896-28dc1b38ed59%2Frsz_todd-cravens--n3dv1qwhuo-unsplash.jpg?v=1587471708415"
                            class="card-img card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Otoño</h5>
                            <p class="card-text">
                                Te invitamos a desubirir el otoño en la Patagonia.
                            </p>
                            <a href="#" class="btn btn-primary">Entrar</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6   mt-2">
                    <div class="card">
                        <img src="https://cdn.glitch.com/84964c4a-9d94-430f-b896-28dc1b38ed59%2Frsz_claudio-antonelli-9ceci5jrge4-unsplash.jpg?v=1587472711261"
                            class="card-img card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Verano</h5>
                            <p class="card-text">
                                Te invitamos a desubirir el Verano en la Patagonia.
                            </p>
                            <a href="#" class="btn btn-primary">Entrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>