/* CSS files add styling rules to your content */

body {
  margin: 0em;
}

.cover {
  height: 400px;
  background-image: url(https://cdn.glitch.com/84964c4a-9d94-430f-b896-28dc1b38ed59%2Frsz_eric-carlson-n4c2dmepwxo-unsplash.jpg?v=1587465890561);
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 1);
  background-blend-mode: darken;
  color: white;
}
.card {
  border: 0 !important;
  width: 18rem;
}
.card-title {
  min-height: 3rem;
}
.card-text {
  min-height: 10rem;
}

.card-img {
  height: 10rem;
  width: auto;
  object-fit: cover;
}